@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');

@font-face {
  font-family: 'TreeLike';
  src: url('./assets/fonts/TreeLike.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Global Color Scheme */
  --primary-color: #FFB200;
  --secondary-color: #996B00;
  --background-color: #000000;
  --text-color: #FAE8C8;
  --accent-color: #2A2A2A;
}
