@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

@font-face {
  font-family: 'TreeLike';
  src: url('../assets/fonts/TreeLike.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-heading: 'TreeLike', serif;
  --font-body: 'Lora', serif;
  --primary-color: #FFB200;
  --secondary-color: #996B00;
  --background-color: #000000;
  --text-color: #FAE8C8;
  --accent-color: #2A2A2A;
}

body {
  font-family: var(--font-body);
  color: var(--text-color);
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}